[package]
name = "satisfiability_evaluator"
version = "0.1.0"
edition = "2021"

[dependencies]
tig-challenges = { git = "https://github.com/tig-foundation/tig-monorepo.git", branch = "satisfiability/${ALGORITHM}" }
tig-algorithms = { git = "https://github.com/tig-foundation/tig-monorepo.git", branch = "satisfiability/${ALGORITHM}" }
